In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dataset/train.csv", index_col=0)
df_bk = df
df.sample(5)

       label                                              tweet
id
5601       0  you media types just 'shopped it. there was a ...
27354      0          by #pearljam  ~ i'm playing #songpop!  -
8017       0  or a female with a nearby nest?    #alligator ...
4020       0  i remember @user when it was clean and fun. no...
21465      0  i can walk a little, so my friends will take m...

Twits should have less than 140ch

In [3]:
df[df['tweet'].str.len() > 140].head()

     label                                              tweet
id
8        0  the next school year is the year for exams.ð...
336      0  watching the @user leadership embrace &amp; ki...
434      0   @user * sweets ð°ð©ð¬ð­ð«â¨!!!!!! ...
475      0  this is a shockingly   and increasingly #viole...
566      0  thank youðsoo muchð pretty @user i feel ...

In [4]:
df[df['tweet'].str.len() > 140].shape

(222, 2)

There must be some f*k simbols encoded in here

In [5]:
df.tweet[336]

"watching the @user leadership embrace &amp; kiss donald's ass is #pathetic &amp;  . this is now the @user pay. a pay of racism &amp; hate. #ripgop"

In [6]:
from bs4 import BeautifulSoup
BeautifulSoup(df.tweet[336], 'lxml').get_text()

"watching the @user leadership embrace & kiss donald's ass is #pathetic &  . this is now the @user pay. a pay of racism & hate. #ripgop"

In [7]:
df['tweet'] = df['tweet'].apply(lambda x : BeautifulSoup(x, 'lxml').get_text())

In [8]:
df[df['tweet'].str.len() > 140].shape

(149, 2)

There are still some special characters -_- <-- Look how to clean this

In [9]:
df.tweet[434]

'@user * sweets ð\x9f\x8d°ð\x9f\x8d©ð\x9f\x8d¬ð\x9f\x8d\xadð\x9f\x8d«â\x9c¨!!!!!! * #instagood #ì\x95\x84ì\x9d´ë\x8f\x8c #å\x81¶å\x83\x8f #idola #idol #à¹\x84à¸\xadà¸\x94à¸\xadà¸¥ #followme #selfie   #ã\x81©ã\x82\x8bã\x81\x88ã\x82\x8câ\x80¦ '

Now to clean @user's

In [10]:
import re
df['tweet'] = df['tweet'].apply(lambda x : re.sub(r'@[A-Za-z0-9]+','',x))

In [11]:
df.tweet[434]

' * sweets ð\x9f\x8d°ð\x9f\x8d©ð\x9f\x8d¬ð\x9f\x8d\xadð\x9f\x8d«â\x9c¨!!!!!! * #instagood #ì\x95\x84ì\x9d´ë\x8f\x8c #å\x81¶å\x83\x8f #idola #idol #à¹\x84à¸\xadà¸\x94à¸\xadà¸¥ #followme #selfie   #ã\x81©ã\x82\x8bã\x81\x88ã\x82\x8câ\x80¦ '

Check for http links

In [12]:
df.shape

(31962, 2)

In [17]:
df.tweet.str.contains('https|http', na=False).count()

31962

In [25]:
df.tweet[1]

' when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run'

Cleaning special simbols and numbers like # and @

In [15]:
df['tweet'] = df['tweet'].apply(lambda x : re.sub("[^a-zA-Z]", " ", x))