In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('demanda-de-electricidad-datos-mensuales.csv')

In [3]:
df.shape

(212, 30)

In [4]:
df.head()

,indice_tiempo,demanda_total,demanda_residencial,comercio_e_industria,grandes_usuarios,temperatura_promedio,potencia_maxima,ede_tucuman,edelap_sa,edenor_distribuidor,...,energia_de_catamarca_sa,energia_de_entre_rios_sa,energia_de_mendoza_sa,energia_san_juan_sa_exedessa,epec_distribuidor,epen_distribuidor,epesf_distribuidor,recursos_y_energia_formosa_sa,secheep,spse_santa_cruz
0,2001-01-01,6866.26,NaN,NaN,NaN,25.432,13501.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001-02-01,6473.10,NaN,NaN,NaN,25.596,14061.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-03-01,6952.30,NaN,NaN,NaN,22.852,13780.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-04-01,6183.35,NaN,NaN,NaN,18.317,12866.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-05-01,6668.94,NaN,NaN,NaN,14.306,12968.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Parsing dates

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 30 columns):
indice_tiempo                     212 non-null object
demanda_total                     212 non-null float64
demanda_residencial               164 non-null float64
comercio_e_industria              164 non-null float64
grandes_usuarios                  164 non-null float64
temperatura_promedio              212 non-null float64
potencia_maxima                   212 non-null float64
ede_tucuman                       56 non-null float64
edelap_sa                         56 non-null float64
edenor_distribuidor               56 non-null float64
edesal_distribuidor               56 non-null float64
edestesa_emp_dist__este           56 non-null float64
edesur_distribuidor               56 non-null float64
emp_de_energia_de_rio_negro_sa    56 non-null float64
emp_dist_energ_atlantica          56 non-null float64
emp_de_energia_de_la_rioja_sa     56 non-null float64
emp_dist_energia_de_salta         56 non-null float64
emp_electric_misiones_sa          56 non-null float64
empresa_dis_estero_sa             56 non-null float64
empresa_jujenia_de_energia_sa     56 non-null float64
energia_de_catamarca_sa           56 non-null float64
energia_de_entre_rios_sa          56 non-null float64
energia_de_mendoza_sa             56 non-null float64
energia_san_juan_sa_exedessa      56 non-null float64
epec_distribuidor                 56 non-null float64
epen_distribuidor                 56 non-null float64
epesf_distribuidor                56 non-null float64
recursos_y_energia_formosa_sa     56 non-null float64
secheep                           56 non-null float64
spse_santa_cruz                   56 non-null float64
dtypes: float64(29), object(1)
memory usage: 49.8+ KB

In [6]:
df['indice_tiempo'] = pd.to_datetime(df['indice_tiempo'], format='%Y-%m-%d')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 30 columns):
indice_tiempo                     212 non-null datetime64[ns]
demanda_total                     212 non-null float64
demanda_residencial               164 non-null float64
comercio_e_industria              164 non-null float64
grandes_usuarios                  164 non-null float64
temperatura_promedio              212 non-null float64
potencia_maxima                   212 non-null float64
ede_tucuman                       56 non-null float64
edelap_sa                         56 non-null float64
edenor_distribuidor               56 non-null float64
edesal_distribuidor               56 non-null float64
edestesa_emp_dist__este           56 non-null float64
edesur_distribuidor               56 non-null float64
emp_de_energia_de_rio_negro_sa    56 non-null float64
emp_dist_energ_atlantica          56 non-null float64
emp_de_energia_de_la_rioja_sa     56 non-null float64
emp_dist_energia_de_salta         56 non-null float64
emp_electric_misiones_sa          56 non-null float64
empresa_dis_estero_sa             56 non-null float64
empresa_jujenia_de_energia_sa     56 non-null float64
energia_de_catamarca_sa           56 non-null float64
energia_de_entre_rios_sa          56 non-null float64
energia_de_mendoza_sa             56 non-null float64
energia_san_juan_sa_exedessa      56 non-null float64
epec_distribuidor                 56 non-null float64
epen_distribuidor                 56 non-null float64
epesf_distribuidor                56 non-null float64
recursos_y_energia_formosa_sa     56 non-null float64
secheep                           56 non-null float64
spse_santa_cruz                   56 non-null float64
dtypes: datetime64[ns](1), float64(29)
memory usage: 49.8 KB

In [8]:
df['month'] = df['indice_tiempo'].dt.month
df['year'] = df['indice_tiempo'].dt.year
df['quarter'] = df['indice_tiempo'].dt.quarter

In [9]:
df.head()

,indice_tiempo,demanda_total,demanda_residencial,comercio_e_industria,grandes_usuarios,temperatura_promedio,potencia_maxima,ede_tucuman,edelap_sa,edenor_distribuidor,...,energia_san_juan_sa_exedessa,epec_distribuidor,epen_distribuidor,epesf_distribuidor,recursos_y_energia_formosa_sa,secheep,spse_santa_cruz,month,year,quarter
0,2001-01-01,6866.26,NaN,NaN,NaN,25.432,13501.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2001,1
1,2001-02-01,6473.10,NaN,NaN,NaN,25.596,14061.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2001,1
2,2001-03-01,6952.30,NaN,NaN,NaN,22.852,13780.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2001,1
3,2001-04-01,6183.35,NaN,NaN,NaN,18.317,12866.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2001,2
4,2001-05-01,6668.94,NaN,NaN,NaN,14.306,12968.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2001,2

In [10]:
df['indice_tiempo'] = pd.to_datetime(landslides['indice_tiempo'], infer_datetime_format=True)

NameError: name 'landslides' is not defined

## Normalization

In [ ]:
from sklearn import preprocessing

In [ ]:
df['demanda_total'].describe()

In [ ]:
X = df['demanda_total'].values

In [ ]:
X_scaled = preprocessing.scale(X)

In [ ]:
X_scaled

In [ ]:
X_scaled.shape

In [ ]:
X_scaled.mean()

In [ ]:
X_scaled.std()

## One-hot-encoding

In [ ]:
df = pd.read_csv('fut19.csv')

In [ ]:
df.head()

In [ ]:
df_filtered = df[['player_name', 'club', 'overall']].copy()

In [ ]:
df_filtered.head()

In [ ]:
df_filtered['club'].value_counts()

In [ ]:
selected_clubs = ['FC Barcelona', 'Real Madrid', 'Juventus', 'Liverpool']

In [ ]:
tmp_df = df_filtered.loc[df_filtered['club'].isin(selected_clubs)]

In [ ]:
tmp_df.sample(10)

In [ ]:
pd.get_dummies(tmp_df, columns=['club'])

### Label encoding

In [ ]:
le = preprocessing.LabelEncoder()

In [ ]:
le.fit(tmp_df['club'])

In [ ]:
le.classes_

In [ ]:
le.transform(['FC Barcelona', 'Juventus', 'Liverpool', 'Real Madrid'])

In [ ]:
le.inverse_transform([0, 1, 2, 3])

In [ ]:
club_le = le.transform(tmp_df['club'])

In [ ]:
club_le

In [ ]:
tmp_df.head()

In [ ]:
pd.DataFrame(club_le)

In [ ]:
pd.concat([tmp_df, pd.DataFrame(club_le)], axis=0)

In [ ]:
pd.concat([tmp_df.reset_index(drop=True), pd.DataFrame({'club_le': club_le})], axis=1)