In [1]:
import utils
import importlib
importlib.reload(utils)
from utils import *

/home/rodixxi/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
#fi_sklearn = rf_feat_importance(rf, X_test)
#plot_fi(fi_sklearn, False, 'Sklearn');

In [3]:
path_dataset = "dataset/BlackFriday.csv"
df = pd.read_csv(path_dataset)

In [4]:
df.sample(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
522630,1002484,P00187842,M,46-50,5,B,0,0,1,16.0,NaN,19580
95225,1002748,P00056242,M,26-35,4,B,1,0,4,5.0,NaN,806
313149,1000249,P00216742,F,18-25,14,C,2,0,5,NaN,NaN,5448
444216,1002334,P00086042,F,55+,7,B,1,1,8,14.0,17.0,9903
305873,1005107,P00084842,F,46-50,0,B,0,0,8,16.0,NaN,6089