In [1]:
import utils
import importlib
importlib.reload(utils)
from utils import *

/home/rcrespillo/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
#fi_sklearn = rf_feat_importance(rf, X_test)
#plot_fi(fi_sklearn, False, 'Sklearn');

In [3]:
path_dataset = "dataset/BlackFriday.csv"
df = pd.read_csv(path_dataset)

In [4]:
df.sample(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
345798,1005250,P00057542,M,51-55,6,B,4+,1,3,4.0,5.0,2940
7406,1001153,P00229842,M,18-25,10,C,0,0,5,14.0,NaN,8782
109883,1004922,P00159542,M,18-25,17,C,1,0,10,15.0,16.0,14058
458623,1004543,P00245842,M,26-35,2,A,0,0,5,7.0,NaN,3527
160276,1000796,P00222042,M,51-55,6,B,4+,1,1,8.0,NaN,4128

In [5]:
df.nunique()

User_ID                        5891
Product_ID                     3623
Gender                            2
Age                               7
Occupation                       21
City_Category                     3
Stay_In_Current_City_Years        5
Marital_Status                    2
Product_Category_1               18
Product_Category_2               17
Product_Category_3               15
Purchase                      17959
dtype: int64

In [6]:
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [7]:
# Mostr√° los valores faltantes en esta celda
total = df.isnull().sum().sort_values(ascending=False)
percent = ((df.isnull().sum()/df.isnull().count())*100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(3)

                     Total    Percent
Product_Category_3  373299  69.441029
Product_Category_2  166986  31.062713
Purchase                 0   0.000000

In [8]:
df_bk = df
df = df.drop(["Product_Category_3"], axis=1)

In [9]:
from sklearn.preprocessing import Imputer

In [10]:
imp = Imputer(strategy='most_frequent')
imp_surface_mean = imp.fit_transform(df[["Product_Category_2"]])
df[["Product_Category_2"]] = imp_surface_mean

In [11]:
total = df.isnull().sum().sort_values(ascending=False)
percent = ((df.isnull().sum()/df.isnull().count())*100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data[missing_data.index.isin(["Product_Category_2"])]

                    Total  Percent
Product_Category_2      0      0.0

In [12]:
from sklearn.preprocessing import LabelEncoder

to_label_encoder = ["Product_ID", "Gender", "Age", "City_Category", "Stay_In_Current_City_Years"]

def label_encoder(df, to_label_encoder):
    for label in to_label_encoder:
        le = LabelEncoder()
        df[[label]] = le.fit_transform(df[label])
    return df

df = label_encoder(df, label_encoder)

TypeError: 'function' object is not iterable

In [ ]:
df.sample(10)

In [ ]:
corr = df.corr()

In [ ]:
plt.figure(figsize=(10,8)) 
sns.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values,
           annot=True)
plt.show()

In [ ]:
from sklearn.preprocessing import OneHotEncoder

to_label_encoder = ["Product_ID", "Gender", "Age", "City_Category", "Stay_In_Current_City_Years"]

for label in to_label_encoder:
    onehot_encoder = OneHotEncoder(sparse=False)
    integer_encoded = le_property_type.reshape(len(le_property_type), 1)
    onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
    categoricals_df = pd.DataFrame(data=onehot_encoded, columns=le.classes_) 
categoricals_df